.setupPassword-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    background-image: url(../../assets/bgImage.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

.logo img{
    width: 200px;
    margin-right: 500px;
    mix-blend-mode: lighten !important;
    user-select: none;
}

.setupPassword-container{
    padding: 25px;
    background: linear-gradient(125deg, #7b356d, #86584a) !important;
    color: white !important;
    width: 480px;
    margin-top: 40px;
    user-select: none;
}

.setupPassword-header span{
    font-size: 20px;
}


.setupPassword-text-field{
    margin: 30px 0;
    position: relative;
}

.setupPassword-text-field .MuiInputBase-input{
  color: white !important;
  font-size: 14px !important;
}

.setupPassword-text-field .MuiFormLabel-root{
  color: white !important;
  font-size: 14px !important;
}

.setupPassword-eye-icon {
  position: absolute;
  right: 12px;
  top: 25px;
  cursor: pointer; 
}

.setupPassword-actions{
   margin-top: 60px;
   margin-bottom: 20px;
}

.setupPassword-actions button{
    background: linear-gradient(45deg, #fca68a, #fe8381) !important;
    color: black;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}

.setupPassword-actions button :active{
  scale: 0.9;
}