.total {
    background-color: black;
    color: white;
    font-family: ui-sans-serif, system-ui, sans-serif;
    font-size: 16px;
    font-weight: normal;
}

.footerlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px;
}

.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mail {
    border-left: 1px solid #ccc;
    padding-left: 22px;
}

h3 {
    color: #878787;
}

.icons {
    display: flex;

}

.below {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
    border-top: 1px solid #ccc;
}

.seller, .advertise, .gift, .question, .oururl {
    display: flex;
    gap:7px;
    justify-content: center;
    align-items: center;
}