.total {
    background-color: black;
    color: white;
}

.footerlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px;
}

.social {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.mail {
    border-left: 1px solid #ccc;
    padding-left: 22px;
}

h3 {
    color: #878787;
}

.icons {
    display: flex;

}

.below {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px;
    border-top: 1px solid #ccc;
}

.seller {
    display: flex;
}


.advertise {
    display: flex;
}

.gift {
    display: flex;
}

.question {
    display: flex;
}

.oururl {
    display: flex;
}