.forget-password-page{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    height: 100vh;    
}

.forget-password-box{    
    width: 450px;
    padding: 20px;
    background: linear-gradient(125deg, #7b356d, #86584a) !important;
    color: white !important;
}

.forget-password-title{
    font-size: 20px;
    margin-bottom: 30px;
    user-select: none;
}

.forget-password-content{
    margin-bottom: 50px;
}

.forget-password-actions{
    display: flex;
    justify-content: end;
}

.forget-password-actions button{
    background: linear-gradient(45deg, #fca68a, #fe8381) !important;
    color: black;
    font-weight: 600;
    padding: 10px 25px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    user-select: none;
}
